<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Defend_monk.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,182},{352,274}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{352,274}}</string>
			<key>sourceSize</key>
			<string>{358,274}</string>
		</dict>
		<key>again_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{884,1770},{136,68}}</string>
			<key>offset</key>
			<string>{-2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,68}}</string>
			<key>sourceSize</key>
			<string>{140,74}</string>
		</dict>
		<key>again_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{884,1700},{136,68}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{136,68}}</string>
			<key>sourceSize</key>
			<string>{140,74}</string>
		</dict>
		<key>bag_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{998,224},{14,18}}</string>
			<key>offset</key>
			<string>{3,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,4},{14,18}}</string>
			<key>sourceSize</key>
			<string>{20,22}</string>
		</dict>
		<key>bag_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{998,204},{18,20}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{18,20}}</string>
			<key>sourceSize</key>
			<string>{20,22}</string>
		</dict>
		<key>bag_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{998,182},{20,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,22}}</string>
			<key>sourceSize</key>
			<string>{20,22}</string>
		</dict>
		<key>best_score.png</key>
		<dict>
			<key>frame</key>
			<string>{{978,658},{112,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{112,38}}</string>
			<key>sourceSize</key>
			<string>{114,38}</string>
		</dict>
		<key>border.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,458},{512,332}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,332}}</string>
			<key>sourceSize</key>
			<string>{512,332}</string>
		</dict>
		<key>bronze.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,1892},{126,172}}</string>
			<key>offset</key>
			<string>{0,28}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{49,0},{126,172}}</string>
			<key>sourceSize</key>
			<string>{224,228}</string>
		</dict>
		<key>cloud_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,1412},{116,60}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{116,60}}</string>
			<key>sourceSize</key>
			<string>{124,64}</string>
		</dict>
		<key>cloud_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1980},{124,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{124,62}}</string>
			<key>sourceSize</key>
			<string>{124,64}</string>
		</dict>
		<key>cloud_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,2},{368,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{368,178}}</string>
			<key>sourceSize</key>
			<string>{368,178}</string>
		</dict>
		<key>cloud_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,1840},{198,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,112}}</string>
			<key>sourceSize</key>
			<string>{198,112}</string>
		</dict>
		<key>comment_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,1810},{112,68}}</string>
			<key>offset</key>
			<string>{-3,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,68}}</string>
			<key>sourceSize</key>
			<string>{118,74}</string>
		</dict>
		<key>comment_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,1810},{112,68}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,3},{112,68}}</string>
			<key>sourceSize</key>
			<string>{118,74}</string>
		</dict>
		<key>continue.png</key>
		<dict>
			<key>frame</key>
			<string>{{948,1058},{74,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,74}}</string>
			<key>sourceSize</key>
			<string>{74,74}</string>
		</dict>
		<key>diamond.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,1810},{168,186}}</string>
			<key>offset</key>
			<string>{6,21}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{34,0},{168,186}}</string>
			<key>sourceSize</key>
			<string>{224,228}</string>
		</dict>
		<key>dizzy_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{978,912},{68,36}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{68,36}}</string>
			<key>sourceSize</key>
			<string>{68,40}</string>
		</dict>
		<key>dizzy_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{978,772},{68,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{68,38}}</string>
			<key>sourceSize</key>
			<string>{68,40}</string>
		</dict>
		<key>dizzy_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{978,842},{68,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{68,36}}</string>
			<key>sourceSize</key>
			<string>{68,40}</string>
		</dict>
		<key>feedback_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{428,1950},{112,68}}</string>
			<key>offset</key>
			<string>{-3,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,68}}</string>
			<key>sourceSize</key>
			<string>{118,74}</string>
		</dict>
		<key>feedback_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{542,1892},{112,68}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,3},{112,68}}</string>
			<key>sourceSize</key>
			<string>{118,74}</string>
		</dict>
		<key>game_over.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,1082},{302,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{302,108}}</string>
			<key>sourceSize</key>
			<string>{302,108}</string>
		</dict>
		<key>gold.png</key>
		<dict>
			<key>frame</key>
			<string>{{852,1840},{124,170}}</string>
			<key>offset</key>
			<string>{1,29}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{51,0},{124,170}}</string>
			<key>sourceSize</key>
			<string>{224,228}</string>
		</dict>
		<key>guide.png</key>
		<dict>
			<key>frame</key>
			<string>{{620,1426},{268,178}}</string>
			<key>offset</key>
			<string>{-18,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{268,178}}</string>
			<key>sourceSize</key>
			<string>{304,178}</string>
		</dict>
		<key>hammer.png</key>
		<dict>
			<key>frame</key>
			<string>{{978,608},{48,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,40}}</string>
			<key>sourceSize</key>
			<string>{48,40}</string>
		</dict>
		<key>heart.png</key>
		<dict>
			<key>frame</key>
			<string>{{978,558},{48,40}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,7},{48,40}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>home_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{542,1538},{124,76}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,76}}</string>
			<key>sourceSize</key>
			<string>{128,80}</string>
		</dict>
		<key>home_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{542,1412},{124,76}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,4},{124,76}}</string>
			<key>sourceSize</key>
			<string>{128,80}</string>
		</dict>
		<key>iron.png</key>
		<dict>
			<key>frame</key>
			<string>{{890,1456},{126,172}}</string>
			<key>offset</key>
			<string>{0,28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{49,0},{126,172}}</string>
			<key>sourceSize</key>
			<string>{224,228}</string>
		</dict>
		<key>monk_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,1388},{66,94}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{66,94}}</string>
			<key>sourceSize</key>
			<string>{66,98}</string>
		</dict>
		<key>monk_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,1592},{58,94}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{58,94}}</string>
			<key>sourceSize</key>
			<string>{66,98}</string>
		</dict>
		<key>monk_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,1336},{50,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,0},{50,98}}</string>
			<key>sourceSize</key>
			<string>{66,98}</string>
		</dict>
		<key>monk_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{978,458},{44,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,0},{44,98}}</string>
			<key>sourceSize</key>
			<string>{66,98}</string>
		</dict>
		<key>monk_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,1272},{62,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{62,98}}</string>
			<key>sourceSize</key>
			<string>{66,98}</string>
		</dict>
		<key>monk_head.png</key>
		<dict>
			<key>frame</key>
			<string>{{620,1606},{202,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{202,262}}</string>
			<key>sourceSize</key>
			<string>{204,262}</string>
		</dict>
		<key>pause.png</key>
		<dict>
			<key>frame</key>
			<string>{{948,982},{74,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,74}}</string>
			<key>sourceSize</key>
			<string>{74,74}</string>
		</dict>
		<key>praise_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{428,1880},{112,68}}</string>
			<key>offset</key>
			<string>{-3,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,68}}</string>
			<key>sourceSize</key>
			<string>{118,74}</string>
		</dict>
		<key>praise_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{428,1810},{112,68}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,4},{112,68}}</string>
			<key>sourceSize</key>
			<string>{118,74}</string>
		</dict>
		<key>ray.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,1412},{396,412}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,14},{396,412}}</string>
			<key>sourceSize</key>
			<string>{440,440}</string>
		</dict>
		<key>ready.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,972},{302,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{302,108}}</string>
			<key>sourceSize</key>
			<string>{302,108}</string>
		</dict>
		<key>relive_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{884,1630},{136,68}}</string>
			<key>offset</key>
			<string>{-2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,68}}</string>
			<key>sourceSize</key>
			<string>{140,74}</string>
		</dict>
		<key>relive_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{948,1134},{136,68}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,4},{136,68}}</string>
			<key>sourceSize</key>
			<string>{140,74}</string>
		</dict>
		<key>share_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{542,1778},{112,68}}</string>
			<key>offset</key>
			<string>{-3,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,68}}</string>
			<key>sourceSize</key>
			<string>{118,74}</string>
		</dict>
		<key>share_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{542,1664},{112,68}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,3},{112,68}}</string>
			<key>sourceSize</key>
			<string>{118,74}</string>
		</dict>
		<key>silver.png</key>
		<dict>
			<key>frame</key>
			<string>{{726,1810},{124,170}}</string>
			<key>offset</key>
			<string>{1,29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,0},{124,170}}</string>
			<key>sourceSize</key>
			<string>{224,228}</string>
		</dict>
		<key>sky.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{640,1026}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,1026}}</string>
			<key>sourceSize</key>
			<string>{640,1026}</string>
		</dict>
		<key>slogan.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1456},{522,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{522,62}}</string>
			<key>sourceSize</key>
			<string>{522,68}</string>
		</dict>
		<key>start_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,1192},{272,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{272,120}}</string>
			<key>sourceSize</key>
			<string>{272,120}</string>
		</dict>
		<key>start_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,1314},{272,110}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,10},{272,110}}</string>
			<key>sourceSize</key>
			<string>{272,120}</string>
		</dict>
		<key>ten.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1412},{62,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,32}}</string>
			<key>sourceSize</key>
			<string>{62,32}</string>
		</dict>
		<key>wall.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1030},{640,380}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,380}}</string>
			<key>sourceSize</key>
			<string>{640,380}</string>
		</dict>
		<key>white_circle.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,1530},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>UIResource_ch.png</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:87c440a0ec1b522bf1c4566d2947bd8b:1/1$</string>
		<key>textureFileName</key>
		<string>UIResource_ch.png</string>
	</dict>
</dict>
</plist>
